@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;700;800&family=Montserrat:wght@400;700;800&display=swap');
@import "tailwindcss";


:root {
  --font-sans: 'Be Vietnam', sans-serif;
  --font-alt: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-sans);
}

/* class tiện dụng cho Montserrat */
.font-alt {
  font-family: var(--font-alt);
}

/* Style chung cho các link */
.nav-link {
  @apply text-white relative px-4 py-1 font-medium;
  transition: color 0.2s;
}
.nav-link:hover {
  @apply text-gray-300;
}

/* Underline trắng cho link active */
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}